{% if exhibitor_log_index_directory %}
log-index-directory={{exhibitor_log_index_directory}}
{% endif %}
{% if exhibitor_zookeeper_install_directory %}
zookeeper-install-directory={{exhibitor_zookeeper_install_directory}}
{% endif %}
{% if exhibitor_zookeeper_data_directory %}
zookeeper-data-directory={{exhibitor_zookeeper_data_directory}}
{% endif %}
{% if exhibitor_zookeeper_log_directory %}
zookeeper-log-directory={{exhibitor_zookeeper_log_directory}}
{% endif %}
{% if exhibitor_servers_spec %}
servers-spec={{exhibitor_servers_spec}}
{% endif %}
{% if exhibitor_backup_extra %}
backup-extra={{exhibitor_backup_extra}}
{% endif %}
{% if exhibitor_zoo_cfg_extra %}
zoo-cfg-extra={{exhibitor_zoo_cfg_extra}}
{% endif %}
{% if exhibitor_java_environment %}
java-environment={{exhibitor_java_environment}}
{% endif %}
{% if exhibitor_log4j_properties %}
log4j-properties={{exhibitor_log4j_properties}}
{% endif %}
{% if exhibitor_client_port %}
client-port={{exhibitor_client_port}}
{% endif %}
{% if exhibitor_connect_port %}
connect-port={{exhibitor_connect_port}}
{% endif %}
{% if exhibitor_election_port %}
election-port={{exhibitor_election_port}}
{% endif %}
{% if exhibitor_check_ms %}
check-ms={{exhibitor_check_ms}}
{% endif %}
{% if exhibitor_cleanup_period_ms %}
cleanup-period-ms={{exhibitor_cleanup_period_ms}}
{% endif %}
{% if exhibitor_cleanup_max_files %}
cleanup-max-files={{exhibitor_cleanup_max_files}}
{% endif %}
{% if exhibitor_backup_max_store_ms %}
backup-max-store-ms={{exhibitor_backup_max_store_ms}}
{% endif %}
{% if exhibitor_backup_period_ms %}
backup-period-ms={{exhibitor_backup_period_ms}}
{% endif %}
{% if exhibitor_auto_manage_instances %}
auto-manage-instances={{exhibitor_auto_manage_instances}}
{% endif %}
{% if exhibitor_auto_manage_instances_settling_period_ms %}
auto-manage-instances-settling-period-ms={{exhibitor_auto_manage_instances_settling_period_ms}}
{% endif %}
{% if exhibitor_observer_threshold %}
observer-threshold={{exhibitor_observer_threshold}}
{% endif %}
{% if exhibitor_auto_manage_instances_fixed_ensemble_size %}
auto-manage-instances-fixed-ensemble-size={{exhibitor_auto_manage_instances_fixed_ensemble_size}}
{% endif %}
{% if exhibitor_auto_manage_instances_apply_all_at_once %}
auto-manage-instances-apply-all-at-once={{exhibitor_auto_manage_instances_apply_all_at_once}}
{% endif %}
